* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
header .nav-btn {
    background-color: lightgreen;
    padding: 15px 30px;
}
header .nav-btn:hover {
    background-color: lightblue;
}
header .text {
    font-size: 24px;
    width: 250px;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
    margin-top: 20px;
}
